* {
  margin: 0px;
  padding: 0px;
}
body {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
#nav {
  background: #000000ca !important;
}
.nav-link {
  font-size: 20px !important;
}

#home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin-bottom: 45px;
}

#sss p:nth-child(1) {
  font-family: calibri;
  font-weight: bold;
  color: #6d6d6d;
  font-size: 35px;
  margin: 0px;
}
#sss p:nth-child(2) {
  font-family: calibri;
  font-weight: bold;
  /* letter-spacing: 0px; */
  color: #1a1a1a;
  font-size: 50px;
  margin: 0px;
}
#sss p:nth-child(3) {
  font-family: myriad pro regular;
  color: #403e3e;
  font-size: 40px;
  margin: 0px;
}
#sss {
  margin: auto;
}
#model {
  margin: auto;
}
#model img {
  box-shadow: 2px rgba(0, 0, 0, 1);
  height: 70vh;
  width: 100%;
  background-repeat: no-repeat;
  /* background-size: contain; */
}
#about {
  width: 70%;
  height: 400px;
  background: #ffffffa1;
  border-radius: 20px;

  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: -7% auto 20px auto;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  transition: width 1s;
}
#about:hover {
  /* transform: scale(1.02, 1.02); */
  width: 75%;
  transition-timing-function: ease-in-out;
}
#about img {
  height: 250px;
}
.about-text {
  width: 600px;
  font-size: 1rem;
}
.about-text p:nth-child(1) {
  color: black;
  font-family: "Baloo Tammudu 2", cursive;

  font-size: 2.2rem;
  line-height: 0px;
}
.ctk {
  font-family: "Baloo Tammudu 2", cursive;
  font-size: 1.5rem;
}

.head {
  text-align: center;

  width: 100%;
  font-family: "Baloo Tammudu 2", cursive;
}
#skill {
  /* margin-top: 10px; */
  background-color: rgba(231, 231, 231, 0.657) !important;
  height: 40vh;
  width: 100%;
}
.progress-bar {
  background: rgba(0, 204, 0, 0.692) !important;
}

.head h2 {
  padding: 0px;
}

.row {
  margin-left: 3rem !important;
}
.card {
  margin: 3rem;
}

#contact {
  margin: auto;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer p {
  font-family: calibri;
}
.cont p {
  font-size: 30px;
  font-weight: bold;
  color: #191919;
  line-height: 10px;
}
.mail p {
  font-family: "Baloo Tammudu 2", cursive;
  font-size: 20px;
}

.social-icon a {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e3e3;
  margin: 0px 13px;
  border-radius: 50%;
}
.social-icon a:hover {
  background-color: #000000;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  transition: all ease 0.5s;
}
.social-icon i {
  color: #000000;
}
.social-icon a:hover i {
  color: #ffffff;
  transition: all ease 0.5s;
}
.social-icons {
  margin: 0px;
}
.social-icons a {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e3e3;
  margin: 15px 13px;
  border-radius: 50%;
}
.social-icons {
  display: flex;
}
.social-icons i,
.social i {
  color: #000000;
}
.social-icons a:hover {
  background-color: #000000;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  transition: all ease 0.5s;
}
.social-icons a:hover i,
.social a:hover i {
  color: #ffffff;
  transition: all ease 0.5s;
}

.social {
  position: fixed;
  top: 40%;
  right: 0px;
  /* transform: translateY(-50%); */
}
.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  line-height: 0px;
  background-color: #ffffff;
  border: 1px solid #cbcbcb;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.social a:hover {
  background-color: #000000;
  transition: all ease 0.5s;
}
.social i {
  font-size: 20px;
  color: #2b2b2b;
}
.head h2 {
  padding: 0px;
  font-size: 35px;
}

@media screen and (max-width: 1020px) {
  #home {
    margin: auto;
    flex-direction: column;
  }
  #model img {
    height: 70vh;
    width: 100%;
    border: 5px solid rgba(255, 255, 255, 0.774);
    border-radius: 4px;
  }
  #sss {
    margin: auto;
  }

  #about {
    flex-direction: column;
    height: 700px;
    width: 85%;
    margin: 20px auto 5px auto;
    transition: width 1s;

  }
  #about:hover {
    /* transform: scale(1.02, 1.02); */
    width: 90%;
    transition-timing-function: ease-in-out;
  }
  .about-text {
    height: 501px;
    width: 80%;
    margin: auto;
  }
  #about img {
    height: 250px;
    margin: 40px;
  }
  .social {
    display: none;
  }
  #skill {
    height: 60vh;
  }
}

@media screen and (max-width: 500px) {
  #model img {
    height: 45vh;
    width: 100%;
    transform: translateY(-20%);
  }
  #sss p:nth-child(1) {
    font-size: 25px;
    margin: auto;
  }
  #sss p:nth-child(2) {
    font-size: 30px;
    margin: auto;
  }
  #sss p:nth-child(3) {
    font-size: 30px;
  }
  #sss {
    margin: auto;
  }
  #about {
    transform: translateY(-15%);
    height: 800px;
  }
  #about img {
    height: 200px;
  }
  #skill {
    transform: translateY(-25%);
    height: 55vh;
  }
  #contact {
    height: 80px;
  }
}
