.home {
  height: 100vh;
  display: flex;

  position: relative;
  /* z-index: 1; */
}
.home__con {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home__con h1 {
  display: block;
  width: fit-content;
  font-size: 3.5em;
  position: relative;
  color: white !important;
}

.logo img {
  position: relative;
  // border-radius: 50%;
  width: 100%;
  max-width: 400px;
  height: auto;
  // padding: 0;
  // margin: 0;
}
.logo img:hover {
  // border: 15px solid transparent;
  width: 99%;
  height: 99%;
  z-index: 9999;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* .Typewriter__wrapper {
  color: rgba(220, 220, 220, 0.824);
} */
.typed {
  background: black;
}

.social-icons {
  margin: 0px;
}
.social-icons a {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525b5;
  margin: 10px 17px;
  margin-bottom: 30px;
  border-radius: 50%;
}
.social-icons {
  display: flex;
}

.social-icons i,
.social i {
  color: #ffffff;
}
.social-icons a:hover {
  /* background-color: #000000; */
  text-decoration: none;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  transition: all ease 0.5s;
  transform: translateY(-5px);
  text-shadow: 1px 1px 2px #222;
  /* text-decoration: none; */
}
.social-icons a:hover i,
.social a:hover i {
  color: #ffffff;
  transition: all ease 0.5s;
}

.social-icons a:hover .lin {
  background: #105abf;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-radius: 50%;
}
.social-icons a:hover .tw {
  background: #4596d1;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-radius: 50%;
}
.social-icons a:hover .insta {
  background: linear-gradient(
    54deg,
    rgba(255, 218, 0, 0.99203431) 0%,
    #ff0652 50%,
    #ff00f0 100%
  );
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-radius: 50%;
}
.social-icons a:hover .gt {
  background: #222;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-radius: 50%;

}

@media only screen and (max-width: 500px) {
  .logo img {
    max-width: 350px;
    height: 250px;
    margin-bottom: 30px;
  }
  .home__con h1 {
    font-size: 2.3em;
  }

  .home {
    height: 90vh;
  }
}
