/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Pause animation on hover */
@media (prefers-reduced-motion: no-preference) {
  .hover\:pause:hover {
    animation-play-state: paused;
  }
}

/* Reverse animation direction */
.animate-reverse {
  animation-direction: reverse;
}
